body {
    font-size: 3vw;
    background-color: lavender;
    color: pink;
    background-image: url(../images/background.jpg_large);
    background-repeat: no;
}
.store .content {
    display: flex;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-img-top {
    height: 18rem;
    width: 12rem;
    object-fit: cover;
}
.card > * {
    flex-grow: 1;
}
.card-text {
    flex-grow: 3;
}
.nav {
     
    font-size: 30px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link {
    color: pink;
}
a.nav-link:hover {
    color: fuchsia;
}
.heading {
    text-align: left;
}
.containter {
    box-sizing: border-box;
}
.radio {
    color:lavender;
    font-size: 40%;
}
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
	background: yellow;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
