body { 
    
    background-color: lavender;
    color: pink;
    background-image: url(../images/background.jpg_large);
    background-repeat: no;
}
header {
    background-color: white;
    color:pink ;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: white;
    text-align:center ;
}
.navbar h1{
    margin: 0;
    margin-right: auto;
    color: pink;
}
.navbar nav ul{
    list-style: none;
    padding: 0;
    margin:0;
    display:  flex;
    margin-right: 10px;
}
.nav-item{
    margin-left: 20px;
    
}

.nav-link {
    color: pink;
}
a.nav-link:hover {
    color: fuchsia;
}
.heading {
    text-align: left;
    padding: 20px;
}
.containter {
    box-sizing: border-box;
}
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
	background: yellow;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.logo {
    width: 60px;
}
.col-lg-6 {
    font-size: 30px;
    margin: 30px;
    text-shadow: 1px 1px white;
    width: 50%

}
.col-lg-4 {
    display:flexbox;
    content: center;
    position: absolute; right: 15%; top: 15%;
    justify-content: left;
    padding-bottom: 0;
    width: 29rem;
    float: right;
    border-radius: 1.5rem;
}
.contact{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 3rem;
    margin-top: 2rem;
    width: 20%;
    content: center;
    position: absolute; right: 17%; bottom:15%;
    background-color: rgb(252, 182, 193);
    border: 2px dotted rgb(252, 182, 193);
}

.carousel-inner {
    margin: 0 auto;
    justify-content: center;
    margin-top: 3%;
    margin-left: 40%;
}
.carousel-item
{
    justify-content: center;
}
.d-block{
    height: 400px;
    width: 400px;
}
p1, p2, ul {
    font-size: 30px;
    color:rgb(219, 70, 94);
    text-shadow: 1px 1px pink;
    word-wrap: break-word;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}