body { 
    background-color: lavender;
    color: pink;
    background-image: url(../images/background.jpg_large);
    background-repeat: no;
}

header {
    background-color: white;
    color:pink ;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: white;
    text-align:center ;
}
.navbar h1{
    margin: 0;
    margin-right: auto;
    color: pink;
}
.navbar nav ul{
    list-style: none;
    padding: 0;
    margin:0;
    display:  flex;
    margin-right: 10px;
}
.nav-item{
    margin-left: 20px;
    
}

.nav-link {
    color: pink;
}
.card {
    margin:25%;
    margin-bottom: 3px;
    width: 20rem;
    max-height: 39rem;
    margin-top: 30px;
    background-color: peachpuff;
}
.card-img-top {
    height: 18rem;
    width: 19.9rem;
    object-fit: cover;
}
.card-text {
    flex-grow: 3;
    font-size: 28px;
    color: rgb(247, 54, 247)
}
.logo {
    width: 60px;
}
.btn  {
    margin-left: 30%;
}
